	@charset "utf-8";

	* {
		border:0;
		margin:0;
		box-sizing: border-box;
	}

	html, body {
		background:#202020;
		font-family: "Trebuchet MS", Helvetica, sans-serif;	
		text-decoration: none;
		width: 100%
		margin: auto;
	}

	h1 {
		text-align:center;
		margin-top: 300px;
		font-size:72px;
		color: #202020;
		font-family:"Times New Roman", Times, serif;
		background: white;
	}

	h2 {
		text-align:center;
		margin-top: 20px;
		font-size:30px;
		color: white;
		font-family:"Gill Sans MT";
		background: #202020;
	}

	
	.nav {
		text-align: center;
		padding-top: 5px;
		text-decoration: none;
		background: #202020;
		text-decoration-color: white;
	}

	.nav_main {
		float: left;
		color: white;
		font-size: 25px;
		position: absolute;
 		top: 60%;
  		right: 60%; 
	  	text-decoration: none;

	}

	a {
	  text-decoration: none;
	 color: white;
	 padding: 20px;  
	}

	a:hover {
	color: #0663c9;
	}

	#map{
	      height:600px;
	      width:98%;
	      margin-left: auto;
	      margin-right: auto;
	      margin-top: 30px;
	}

	.buttons{
		border: none; 
	  	padding: 15px 32px;
	    text-align: center;

	}

	.button{
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-decoration: none;
	    font-size: 16px;
	    background-color: #202020;
	 	cursor: pointer;
	}



.container
{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 110px;
  display: inline-block;
  text-align: center;
}

.small
{
  height: 300px;
  width: 300px;
  position: relative;
 }

.lightbox
{

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0.5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
}

a div
{
 position: initial;
 margin: auto auto;
 text-align: center;
 object-fit: none;
}

.lightbox:target
{
display: flex;
}

.container a
{
  text-decoration: none;
}

.large {
	width: 80%;
	text-decoration: none;
}